aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
idna==2.9
marshmallow==2.21.0
motor==2.1.0
multidict==4.7.6
pymongo==3.10.1
python-dateutil==2.8.1
six==1.15.0
umongo==2.2.0
yarl==1.4.2
